.primary-button {
  font-family: inherit;
  height: 64px;
  border-radius: 25px;
  background-color: #FFFBE4;
  color: #00192D;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &:hover {
    background-color: var(--main-light);
  }

  &__login {
    background-color: transparent;
    color: #FFFBE4;
    border: 1px solid #FFFBE4;

    &:hover {
      background-color: #FFFBE4;
      color: #00192D;
    }
  }
  &__delete {
    background-color: transparent;
    color: #FFFBE4;
    border: 1px solid #FFFBE4;

    &:hover {
      background-color: red;
      color: #FFFBE4;
    }
  }
}
