@import "./mixins.scss";

.auth-form {
  font-family: var(--font-manrope);
  width: 100%;

  &__input {
    display: block;
    box-sizing: border-box;
    font-family: inherit;
    width: 450px;
    max-width: 100%;
    height: 54px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 16px 24px 16px 12px;
    color: var(--text-strong);
    font-size: 16px;

    &::placeholder {
      color: var(--muted);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px #FFFBE4;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__button {
    display: block;
    box-sizing: border-box;
    font-family: inherit;
    width: 450px;
    max-width: 100%;
    height: 64px;
    border-radius: 25px;
    background-color: #FFFBE4;
    color: #00192D;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ffffff;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }
}
