@use "../../styles/mixins" as *;

.header {
  font-family: var(--font-manrope);
  font-size: 20px;
  color: #fffbe4;
  padding-top: 44px;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.3s ease;

  &--scrolled {
    background-color: var(--main-dark);
  }

  &__inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  @media (max-width: 1279px) {
    &__inner {
      max-width: 754px;
    }
  }

  @media (max-width: 753px) {
    &__inner {
      max-width: 361px;
    }
  }
}

.nav-item {
  position: relative;
  font-family: var(--font-manrope);
  font-size: 20px;

  &__link {
    transition: color 0.25s ease, text-shadow 0.3s ease;

    &:hover {
      color: var(--accent-hover);
      text-shadow: 0 0 12px var(--accent-hover);
    }
  }

  &__dropdown {
    @include dropdown-base;
  }

  &__dropdown-link {
    @include dropdown-item-hover;

    a {
      pointer-events: auto;
    }
  }

  &:hover &__dropdown {
    display: flex;
    pointer-events: auto;
  }
}

.burger-menu {
  
  
  top: 0;
  right: 0;
  transform: translateY(50%);
  z-index: 100;

  &:hover {
    display: flex;
  }
}

.burger-icon {
  overflow: visible;
}

.burger-icon line {
  stroke: #fffbe4;
  stroke-width: 2.5;
  stroke-linecap: round;

  transform-box: fill-box;
  transform-origin: center;

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.burger-icon.open .top {
  transform: translateY(8px) rotate(45deg);
}

.burger-icon.open .middle {
  opacity: 0;
}

.burger-icon.open .bottom {
  transform: translateY(-8px) rotate(-45deg);
}
