.main-layout {
  width: 100%;
  max-width: 1280px; 
  margin: 0 auto;
}


@media (max-width: 1279px) {
  .main-layout {
    max-width: 754px;
  }
}


@media (max-width: 753px) {
  .main-layout {
    max-width: 361px;
  }
}

