.home-page {
  &__title {
    font-family: "Cormorant Unicase", serif;
    font-size: 56px;
    font-weight: 700;
    color: #fffbe4;
  }

  &__start-exploring-btn {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 500;
    background: #fffbe4;
    color: #00192d;
    border: none;
    cursor: pointer;
  }
}
