@use "../../shared/styles/mixins.scss" as *;

.home-page {
  &__bg {
    background-image: url("/images/bg/hero-bg/hero-bg-desktop.webp");

    @include tablet {
      background-image: url("/images/bg/hero-bg/hero-bg-tablet.webp");
    }

    @include mobile {
      background-image: url("/images/bg/hero-bg/hero-bg-mobile.webp");
    }
  }

  &__title {
    font-family: "Cormorant Unicase", serif;
    font-size: 32px;
    font-weight: 700;
    color: #fffbe4;

    @include desktop {
      font-size: 56px;
    }
  }

  &__start-exploring-btn {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 500;
    width: 360px;

    @include desktop {
      width: 380px;
    }
  }
}
